.profile{
    display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    margin-inline-start: 5px;
}

.footer-3-wide{
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border: 2px;
}
